@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: gray;
    font-family: var(--font1);
}
header {
    background-color: black;
    text-align: center;
    font-family: var(--font2);
}

header h1 {
    color: white;
    font-size: 8vw;
    padding-top: 50px;
    padding-bottom: 20px;
    font-variant: small-caps;
}

header p {
    color: white;
    padding-bottom: 50px;
    font-size: 0.9em;
}

header a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
    border-radius: 20px;
}

header a:hover{
    text-decoration: none;
    transition: .2s;
    color: black;
    background-color: white;
    padding: 13px;
    border-radius: 25px;
}
section {
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 4vw;
}

section p{
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.imagem {
    background-color: rgb(59, 59, 59);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    
}

.normal{
    background-color: white;
    color: black;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.432);
}

#img01 {
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 0.8em;
}

footer a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px;
    border-radius: 20px;
}

footer a:hover{
    text-decoration: none;
    transition: .2s;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}
